#section p{
   padding: 8px 8px;
}
#home h1{
   margin: 50px 0px !important;
   font-size: 2rem !important;
}
p{
   margin-bottom: 26px !important;
   font-size: 1.1rem !important;
}
#p1{
   width: 900px !important;
}