#section p{
   padding: 0.8rem 0.8rem;
}
#home h1{
   margin: 5rem 0px !important;
   font-size: 2rem !important;
}
p{
   margin-bottom: 5rem !important;
   font-size: 1.1rem !important;
}
#p1{
   width: 90rem !important;
}